/*
GOOGLE FONTS
*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap");

/*
VARIABLES
*/
:root {
	--brand-font: "Rock Salt", cursive;
	--main-font: "Lato", sans-serif;
	--header-clr: rgb(205, 177, 110);
}

/*
RESETS
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/*
GLOBAL STYLES
*/

body {
	font-family: var(--main-font);
	background-color: rgb(27, 27, 27);
	/* overflow: hidden; */
	color: white;
	
}

h1 {
	/* font-family: var(--brand-font); */
	padding-top: 0;
	margin-top: 0;
}

h2 {
	color: tan;
}

h3 {
	color: red;
}

/* global styles */
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;
}

a:visited {
	color: white;
}

.page {
	height: 100vh;
}

.center {
	width: 90vw;
	max-width: 1400px;
	margin: auto;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	letter-spacing: 0.05rem;
	padding: 3rem;
	color: rgb(41, 208, 238);
}
/* .underline {
	width: 100px;
	height: 0.3rem;
	background: red;
	margin: auto;
} */

.btn {
	text-transform: uppercase;
	font-family: var(--main-font);
	border-radius: 20px;
	background: transparent;
	border: 1px solid white;
	color: white;
	width: 8rem;
	height: 2.5rem;
	cursor: pointer;
	font-size: 1rem;
}

.btn:hover {
	/* background: transparent; */
}

hr {
	margin: 1rem 0;
}

/*
NAVBAR
*/
.header {
	background-color: rgb(0, 0, 0);
}

.nav__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	height: 75px;

}

.nav__brand {
	color: rgb(41, 208, 238);
}

.nav__hamburger {
	width: 2rem;
	height: 0.25rem;
	cursor: pointer;
	background: transparent;
	background: rgb(41, 208, 238);
}

.nav__hamburger:hover {
	color: rgb(226, 195, 122);
}

.nav__hamburger::before {
	content: "";
	position: absolute;
	transform: translateY(8px);
	width: 2rem;
	height: 0.25rem;
	background: rgb(41, 208, 238);
	transition: all ease 0.5s;
}

.nav__hamburger::after {
	content: "";
	position: absolute;
	transform: translateY(-8px);
	width: 2rem;
	height: 0.25rem;
	background: rgb(41, 208, 238);
	transition: all ease 0.5s;
}

.open {
	background: transparent;
	transition: all ease 0.5s;
}

.open::before {
	transform: rotate(45deg);
	transition: all ease 0.5s;
}

.open::after {
	transform: rotate(-45deg);
	transition: all ease 0.5s;
}

.nav__links {
	display: none;
}

/***
media queries tablet
***/

@media screen and (min-width: 768px) {
	header {
		width: 100%;
		height: 75px;
		display: grid;
		place-items: center;
	}

	.nav {
		position: fixed;
		width: 100%;
		max-width: 1400px;
		margin: auto;
	}

	.nav__header {
		width: 90vw;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: center;
		margin: auto;
	}

	.nav__links {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.nav__link {
		display: block;
		margin-left: 2rem;
	}

	.nav__hamburger {
		display: none;
	}
}

/*
SIDEBAR
*/
.sidebar {
	position: fixed;
	height: calc(100vh - 75px);
	width: 100vw;
	transform: translateX(-100%);
	transition: 0.5s;
	background: rgb(27, 27, 27);
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar__links {
	/* width: 100%;
	height: 100%; */
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	margin: 0;
	padding: 0;
	/* border: 2px solid yellow; */
}

.sidebar__links li {
	position: relative;
	overflow: hidden;
	margin: 10px 0px;
}

.sidebar__links li::before {
	content: "";
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	width: 50%;
	height: 1px;
	background: rgb(41, 208, 238);
	left: -100%;
	transition: 0.5s;
}

.sidebar__links li:hover::before {
	left: 100%;
}

.sidebar__link {
	padding: 2rem;
	/* padding: 5px 10px; */
	font-size: 2rem;
	font-weight: 900;
	color: white;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	position: relative;
	display: block;
	text-align: center;
	margin: 0;
	transition: 0.5s;
	color: transparent;
}

.sidebar__link::before {
	content: attr(data-id);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: white;
	box-sizing: border-box;
	transition: 0.5s;
	transition-delay: 0.25s;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.sidebar__link::after {
	content: attr(data-id);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: white;
	box-sizing: border-box;
	transition: 0.5s;
	transition-delay: 0.25s;
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}

.sidebar__link:hover {
	color: transparent;
}
.sidebar__link:hover::before {
	color: rgb(41, 208, 238);
	transform: translate(10px, -3px);
	/* transition: 0.5s; */
}

.sidebar__link:hover::after {
	color: rgb(41, 208, 238);
	transform: translate(-10px, 3px);
}

.show {
	transform: translateX(0);
	transition: 0.5s;
}

/*
hero section
*/

.hero {
	height: calc(100vh - 75px);
	display: grid;
	place-items: center;
	background:rgb(0, 0, 0);
	/* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./hero.jpg") center / cover no-repeat; */
	/* background-blend-mode: multiply; */
	text-align: left;
}

.hero__container {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.hero__btn--secondary{
	margin-left: 2rem;
}

.hero__btn--primary {
	background: white;
	color: black;
	font-weight: bold;
	margin-left: 0.35rem;
}

.hero__subheading{
	font-size: 2rem;
	margin-bottom: 1rem;
}

.hero__heading {
	display: block;
	/* text-align: left; */
	font-size: 3rem;
	margin-bottom: rem;
	color: rgb(41, 208, 238);
	
	margin: 0;
}

.hero__buttons {
	margin-top: 1rem;
}


/*
projects section
*/
.projects {
	min-height: 100vh;
	width: 100%;
	
	display: grid;
	place-items: center;
}

.projects__container {
	/* height: 100%;
	width: 100%; */
	display: flex;
	flex-direction: column;
	gap: 3rem;
	
}

.projects__card{
	width: 100%;
	height: 100%;
	/* display: flex;
	flex-direction: row; */
	/* border: 1px solid white; */
	border-bottom: 1px solid darkgray;
}

.projects__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	padding: 1rem;
	/* height: 100%;
	width: 100%; */
	
}

.projects__title {
	padding: 1rem 0;
	/* text-align: center; */
	
}

.projects__description {
	
}

.projects__stack{
	padding: 1rem 0;
}

.project__buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* padding-top: 1rem; */
	
	height: 100%;
	gap: 1rem;
}

.project__btn--primary, .project__btn--secondary {
	width: 100%;

}
.projects__image {
	/* width: 100%;
	height: 100%; */
	
}

.img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

.project__text {
	padding: 1rem;
	
}

@media screen and (min-width: 768px) {

}

.footer {
	text-align: center;
	padding: 0.5rem;
	height: 100%;
}