/*
GOOGLE FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap');

/*
VARIABLES
*/
:root {
    --brand-font: 'Rock Salt', cursive;
    --main-font: 'Lato', sans-serif;
    --header-clr: #CDB16E;
}

/*
RESETS
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*
GLOBAL STYLES
*/
body {
    font-family: var(--main-font);
    background-color: lightgray;
}

h1 {
    font-family: var(--brand-font);
}

h2 {
    color: tan;
}

h3 {
    color: red;
}

/* global styles */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.page {
    height: 100vh;
}

.center {
    max-width: 1400px;
    margin: auto;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.05rem;
    padding: 1rem;
}
.underline {
    width: 100px;
    height: 0.3rem;
    background: red;
    margin: auto;
}

.btn {
    text-transform: uppercase;
    font-family: var(--main-font);
    border-radius: 0.4rem;
    background: transparent;
    border: 1px solid black;
    width: 8rem;
    height: 2.5rem;
    cursor: pointer;
}

.btn:hover {
    background: tan;
}
}

hr {
    margin: 1rem 0;
}
/*
NAVBAR
*/

.nav {
    /* display: grid; */
    width: 100%;
    height: 75px;
}

.nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.nav-header {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 1400px;
    margin: auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    /* padding: 0rem 0.5rem; */
}

.brand {
    font-size: 2rem;
    cursor: pointer;
}

.hamburger {
    display: inline-block;
    width: 1.6rem;
    height: 0.13rem;
    background: red;
    cursor:pointer;
    display: none;
}

.hamburger::before, .hamburger::after {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 0.13rem;
    background: red;
}

.hamburger::before {
    transform: translateY(-0.5rem);
}

.hamburger::after {
    transform: translateY(0.5rem);
}

/*
hero section
*/

.hero {
    height: calc(100vh - 50px);
    display: grid;
    place-items: center;
    mix-blend-mode: multiply;
}

.hero-text {
    text-align: left;
    padding: 1rem;
}

.name {
    font-family: var(--main-font);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.name span {
    text-transform: lowercase;
}

.name i {
    font-size: 0.6rem;
    transform: translateY(-0.7rem);
    padding: 0 0.4rem;
}

.heading {
    font-family: var(--main-font);
    font-size: 3.5rem;
    padding: 1rem 0rem 1.5rem 0rem;
    text-transform: uppercase
}

/*
projects section
*/
.projects {
    background-color: black;
    width: 100%;
}

.title {
    padding: 1rem;
}

.projects-section {
    max-width: 1400px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 3rem auto;
}
.project {
    width: 100%;
    height: 700px;
    background-color: gray;
    display: grid;

}

.img-container {
    width: 100%;
    height: 400px;
    background-color: white;
    display: grid;
    place-items: center;
}

.img-container img {
    width: 100%;
    display: block;
    object-fit: cover;
    box-sizing: border-box;
}

.description{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 100%;
    background-color: rgb(247, 247, 247);
    color: black;
}

.info {
    padding-bottom: 1rem;
}

.built {
    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.icons {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    font-size: 2rem;
}

/*
about section
*/
.about {
    background-color: black;

}
.about-section {
    max-width: 1400px;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
}

.about-text{
    width: 100%;
    color: lightgray;
    font-size: 1.5rem;
    padding: 1rem;
}

.about .img-container {
    width: 100%;
    display: grid;
    place-items: center;
}
.about .img-container img {
    height: 700px;
    background: black;
    
}

/*
contact section
*/

.contact {
    background: black;
}

.contact-section {
    max-width: 1400px;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-container {
    width: 100%;
    height: 500px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: red;
    justify-content: space-between;
}

form input, form textarea {
    padding: 1rem;
    border: none;
    background: transparent;
    border-bottom: 2px solid white;
    color: tan;
}

form label {
    padding-top: 1rem;
}

form .btn {
    color: red;
    border : 2px solid lightgray;
    margin-top: 1rem;
}
