/*
GOOGLE FONTS
*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap");

/*
VARIABLES
*/
:root {
	--brand-font: "Rock Salt", cursive;
	--main-font: "Lato", sans-serif;
	--header-clr: rgb(205, 177, 110);
}

/*
RESETS
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/*
GLOBAL STYLES
*/

body {
	font-family: var(--main-font);
	background-color: rgb(15, 15, 15);
	color: white;
}

h1 {
	/* font-family: var(--brand-font); */
	padding-top: 0;
	margin-top: 0;
}

h2 {
	color: tan;
}

h3 {
	color: red;
}

/* global styles */
ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;
	
}


.page {
	height: 100vh;
}

.center {
	width: 90vw;
	max-width: 1400px;
	margin: auto;
}

.section__title {
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	letter-spacing: 0.05rem;
	padding: 4rem;
	color: rgb(41, 208, 238);
	letter-spacing: 0.25rem;
}

.btn {
	text-transform: uppercase;
	font-family: var(--main-font);
	border-radius: 20px;
	background: transparent;
	border: 2px solid white;
	width: 8rem;
	height: 2.5rem;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
}

.btn:hover {
	filter: blur(1px);
}

hr {
	margin: 1rem 0;
}

/*
NAVBAR
*/
.header {
	position: fixed;
	height: 75px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: rgb(15, 15, 15);
	transition: all 0.5s;
}

header.sticky {
	height: 50px;
}

.nav {
	/* height: 100%; */
}

.nav__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1400px;
	height: 100%;
}

.nav__brand {
	color: rgb(41, 208, 238);
}


.nav__hamburger {
	width: 2rem;
	height: 0.25rem;
	cursor: pointer;
	background: transparent;
	background: rgb(41, 208, 238);
}


.nav__hamburger::before {
	content: "";
	position: absolute;
	transform: translateY(8px);
	width: 2rem;
	height: 0.25rem;
	background: rgb(41, 208, 238);
	transition: all ease 0.5s;
}

.nav__hamburger::after {
	content: "";
	position: absolute;
	transform: translateY(-8px);
	width: 2rem;
	height: 0.25rem;
	background: rgb(41, 208, 238);
	transition: all ease 0.5s;
}

.open {
	background: transparent;
	transition: all ease 0.5s;
}

.open::before {
	transform: rotate(45deg);
	transition: all ease 0.5s;
}

.open::after {
	transform: rotate(-45deg);
	transition: all ease 0.5s;
}

.nav__link {
	color: white;
}

.nav__link:visited{
	color: white;
}

.nav__link:hover {
	border-bottom: 2px solid rgb(41, 208, 238);
}

.nav__links {
	display: none;
}

/***
media queries tablet
***/

@media screen and (min-width: 768px) {
	.header {
		width: 100%;
		height: 75px;
		display: grid;
		place-items: center;
	}

	.nav {
		position: fixed;
		width: 100%;
		max-width: 1400px;
		margin: auto;
	}

	.nav__header {
		width: 90vw;
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: center;
		margin: auto;
	}

	.nav__links {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.nav__link {
		display: block;
		margin-left: 2rem;
	}

	.nav__hamburger {
		display: none;
	}
}

/*
SIDEBAR
*/
.sidebar {
	position: fixed;
	height: calc(100vh - 75px);
	width: 100vw;
	transform: translateX(-100%);
	transition: 0.5s;
	background: rgb(15, 15, 15);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.sidebar__links {
	margin: 0;
	padding: 0;
}

.sidebar__links li {
	position: relative;
	overflow: hidden;
	margin: 10px 0px;
}

.sidebar__links li::before {
	content: "";
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	width: 50%;
	height: 1px;
	background: rgb(41, 208, 238);
	left: -100%;
	transition: 0.5s;
}

.sidebar__links li:hover::before {
	left: 100%;
}

.sidebar__link {
	padding: 2rem;
	font-size: 2rem;
	font-weight: 900;
	color: white;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	position: relative;
	display: block;
	text-align: center;
	margin: 0;
	transition: 0.5s;
	color: transparent;
}

.sidebar__link::before {
	content: attr(data-id);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: white;
	box-sizing: border-box;
	transition: 0.5s;
	transition-delay: 0.25s;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}

.sidebar__link::after {
	content: attr(data-id);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	color: white;
	box-sizing: border-box;
	transition: 0.5s;
	transition-delay: 0.25s;
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
}

.sidebar__link:hover {
	color: transparent;
}
.sidebar__link:hover::before {
	color: rgb(41, 208, 238);
	transform: translate(10px, -3px);
}

.sidebar__link:hover::after {
	color: rgb(41, 208, 238);
	transform: translate(-10px, 3px);
}

.show {
	transform: translateX(0);
	transition: 0.5s;
}

/*
hero section
*/

.hero {
	height: calc(100vh - 75px);
	display: grid;
	place-items: center;
	background: rgb(15, 15, 15);
	text-align: left;
}

.hero__container {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* heading transition */
.hero__list {
	display: flex;
}

.hero__list li {
	letter-spacing: 2px;
	transition: 1s;
}

.hero__list:hover li {
	transform: rotate(45deg) translateY(-50px);
	opacity: 0;
	filter: blur(5px);
	color: white;
}

li:nth-child(1){
	transition-delay: 0;
}

li:nth-child(2){
	transition-delay: 0.05s;
}

li:nth-child(3){
    transition-delay: 0.1s;
}

li:nth-child(4){
	transition-delay: 0.15s;
}

li:nth-child(5){
	transition-delay: 0.2s;
}

li:nth-child(6){
	transition-delay: 0.25s;
}

li:nth-child(7){
	transition-delay: 0.3s;
}

li:nth-child(8){
	transition-delay: 0.35s;
}

li:nth-child(9){
	transition-delay: 0.4s;
}

li:nth-child(10){
	transition-delay: 0.45s;
}

li:nth-child(11){
    transition-delay: 0.5s;
}

li:nth-child(12){
	transition-delay: 0.55s;
}

li:nth-child(13){
	transition-delay: 0.6s;
}

li:nth-child(14){
	transition-delay: 0.65s;
}

li:nth-child(15){
	transition-delay: 0.7s;
}

li:nth-child(16){
	transition-delay: 0.75s;
}

li:nth-child(17){
	transition-delay: 0.8s;
}

li:nth-child(18){
	transition-delay: 0.85s;
}

li:nth-child(19){
	transition-delay: 0.9s;
}

.hero__btn--secondary {
	margin-left: 2rem;
	cursor: pointer;
	text-align: center;
	color: white;
}

.hero__btn--secondary:visited {
	color: white;
}


.hero__btn--primary {
	background: rgb(41, 208, 238); 
	color: black;
	font-weight: bold;
	margin-left: 0.35rem;
	cursor: pointer;
	text-align: center;
	border: none;
}

.hero__btn--primary:visited {
	color: black;
}

.hero__subheading {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.hero__heading {
	display: block;
	font-size: 2rem;
	margin-bottom: rem;
	color: rgb(41, 208, 238);
	margin: 0;
}

.hero__buttons {
	margin-top: 1rem;
	display: flex;
}

@media screen and (min-width: 992px){
	

	.hero__heading {
		font-size: 6rem;
	}
}

@media screen and (min-width: 1100px){
	.hero {
			grid-template-columns: auto auto;
			max-width: 1400px;
			margin: auto;
	}
}
/*
projects section
*/
.projects {
	min-height: 100vh;
	width: 100%;
	padding-bottom: 3rem;
	display: grid;
	place-items: center;
}

.projects__container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.projects__card {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid darkgray;
}

.projects__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	padding: 1rem;
}

.projects__title {
	padding: 1rem 0;
	color:rgb(41, 208, 238);
}

.projects__stack {
	padding: 1rem 0;
}

.project__buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; 
	height: 100%;
	gap: 1rem;
}

.project__btn--primary,
.project__btn--secondary {
	width: 100%;
	margin-bottom: 1rem;
}

.project__btn--primary {
	background: rgb(41, 208, 238);
	color: black;
	font-weight: bold;
	border: none;
}

.project__btn--primary:visited {
	color: black;
}

.project__btn--secondary {
	color: white;
}

.project__btn--secondary:visited {
	color: white;
}

.projects__image, .projects__image {
	
}

.img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: 10px;
}

.project__text {
	padding: 1rem;
}

@media screen and (min-width: 992px) {
	.projects__card {
		display: flex;
		flex-direction: row;
		display: grid;
		grid-template-columns: 1fr 1fr;
		border-bottom: none;
		gap: 2rem;
	}

	.project__buttons {
		display: flex;
		flex-direction: row;
	}
}


.about {
	width: 80%;
}

.about__container {
	height: 100%;
	display: flex; 
	flex-direction: column;
}

.about__bio {
	height: 100%;
	margin-bottom: 4rem;
	line-height: 1.6;
}

.about__bio {
	max-width: 400px;
}

.skills__title, .skills_bio{
	color:rgb(41, 208, 238);
	padding: 1rem 0;
}

.about__skills{
	padding-top: 1rem;
}

.about__skilllist {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}

.about__skills i {
	font-size: 4rem;
	height: 100%;
	margin-bottom: 4rem;
}

@media screen and (min-width: 992px) {
	.about__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 4rem;
	}
}

.contact {
	height: calc(100vh - 1rem - 75px);
}

.contact__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.contact__form {
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-width: 500px;
}

label {
	padding-bottom: 0.5rem;
}

input {
	margin-bottom: 1rem;
	padding: 0.5rem;
	background: rgb(41, 208, 238);
	font-size: 1rem;
}

textarea {
	background: rgb(41, 208, 238);
	font-size: 1rem;
	padding: 0.5rem;
}

.contact__links {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.contact__link {
	font-size: 2rem;
}

.contact__link:link {
	color: white;
}

.contact__link:visited {
	color: white;
}

.contact__link:hover {
	color: rgb(41, 208, 238);
	filter: blur(1px);
}

.contact__button--primary {
	margin-top: 1rem;
	background: white;
	color: black;
	font-weight: bold;
}

.contact__success {
	padding: 1rem 0;
	visibility: hidden;
}

@media screen and (min-width: 1100px) {
	.contact__links {
		flex-direction: column;
		height: 25%;
	}
}

.visible {
	visibility: visible;
}

.footer {
	text-align: center;
	padding: 0.5rem;
	height: 1rem;
}
